.aboutWrapper {
	background-color: #ededed;
	margin: 0 auto;
}

.card {
	display: inline-block;
	text-align: center;
	padding-bottom: 4%;
}

.small {
	width: 45%;
	padding-right: 5%;
}
.large {
	width: 100%;
}
.videpPlayer {
	width: 300px;
	height: 200px;
}

/*PANEL*/
.panel {
	width: 100%;
	text-align: center;
}
.panelHeader {
	margin: 0;
	color: #f9f9fd;
	text-transform: uppercase;
	padding: 5%;
	font-size: 24px;
	background-color: #9084d0;
}
.panelContent {
	margin: 0;
	background-color: #ffffff;
	padding: 5%;
}
.panelLinkToStory{
	background-color: #76B9CA;
	margin: 0;
	color: #f9f9fd;
	text-transform: uppercase;
	padding: 5%;
	font-size: 24px;
}
.aboutLinkToStory{
	display: inline-block;
}
.aboutLinkToStoryButton{
	border: 1px solid white;
	vertical-align: middle;
	display: inline-block;
	padding: 1.5% 0;
	margin-left: 2%;
	width: 20%;
	background-color: #76B9CA;
	overflow: hidden;
}
.partnerRow {
	display: block;
	text-align: center;
	background-color: #ffffff;
	/* border: 1px solid green; */
}
.partnersCard {
	background: white;
	width: 29%;
	padding: 7px;
	margin-top: 30px;
	margin-bottom: 30px;
	
	display: inline-block;
	text-align: center;
}
.partnersCard h2 {
	margin: 0 auto;
	color: #7a5fd0;
}
.partnersCard img {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin: 1%;
}
