/* Cute shit to play with later: */
    /* background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%); */


/* Nav Bar */
.navWrapper {
    display: flex;
    height: 60px;
    background-color: #fff;;
    border-bottom: 1px solid #AAA;
    box-shadow: 0px 1px 3px 0px #AAA;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    z-index: 1;
    position: relative;
}

.navImage {
    max-width: 100%;
    height: 60px;
    margin-right: 5%;
    margin-left: 10%;
    display: inline-block;
    overflow: hidden;
}


.linksBar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    height: 40px;
    /* background-color: lightgray; */
    margin-top: 20px;
    overflow: hidden;
}

.linksBar .link {
    vertical-align: top;
    display: inline-block;
    line-height: 38px;
    width: 80px;
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
    color: #7a5fd0;
    text-decoration: none;
}

.linksBar .link:hover{
    color: #251066;
}

.sideline {
    border-right: 3px solid #563EA3;
}

/* Intro */
.introWrapper {
    display: flex;
    background: #EDEDED;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.textContainer {
    display: inline-block;
    text-align: center;
    min-width: 20%;
    margin: 5%;
}

.text {
    font-size: 32px;
    /*font-family: cursive;*/
    box-shadow: 3px 3px 3px #4B3A3A;
    overflow: hidden;
    padding: 0 10px;
}

.introImage {
    max-width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    box-shadow: 3px 3px 3px #4B3A3A;
    border-radius: 18px;
}

/* Content / Content Item  */
.content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background: #EDEDED;
    padding: 10px;
}

.contentItem {
    justify-content: space-around;
    text-align: center;
    margin: 15px;
}

.contentItem img {
    border-radius: 100px;
}

/* Footer */


.footer {
    position: relative;
    z-index: 100;
    color: #D6D6D6;
    background-color: #FFFFFF;
    font-size: 13px;
    height: 50px;
    width: 100%;
    margin: 0px;
    box-shadow: 0px -1px 3px 0px #AAA;
}
.footer > p {
    display: inline;
    margin: 0px;
    margin-left: 20px;
    line-height: 50px;
    padding-left: 25px;
    padding-right: 10px;
    height: 25px;
    background: transparent;
}
