/* Cute shit to play with later: */
    /* background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%); */


.homePage .panelHeader{
    text-align: center;
}
.homePageTripleImage{
    text-align: center;
}
.homePageTripleImage p{
    margin: 20px;
}
.homePageTripleImage .imageContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px 0;
}
.homePageTripleImage .imageContainer div{
    width: 30%;
    margin: 0 1%;
}
.homePageTripleImage img{
    height: 100px;
}
.homePageTripleImage .imageContainer p{
    font-weight: bold;
    font-size: small;
}
.homePage .secondPanel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homePage .secondPanel .secondPanelText{
    width: 60%;
    text-align: left;
    margin: 20px;
}

.homePage .secondPanel .secondPanelText .bold{
    font-weight: bold;
}
.homePage .secondPanel img{
    vertical-align: center;
    height: 300px;
}

@media screen and (max-width: 768px){
    .homePageTripleImage .imageContainer{
        display: block;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
    }
    .homePageTripleImage .imageContainer div{
        display: block;
        width: 100%;
        margin: 0 1%;
    }
    .homePage .secondPanel{
        display: block;
    }

    .homePage .secondPanel .secondPanelText{
        display: block;
        width: 98%;
        text-align: center;
        margin: 10px 1%;
    }
    .homePage .secondPanel img{
        margin: 0 auto;
        display: block;
        height: 150px;
    }
}