.JoinCardContainer{
    display: flex;
}
.JoinCard, .LoginCard{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #AAA;
    margin-left: .5%;
    width: 49%;
}
.JoinCard, .LoginCard h3, p{
    text-align: center;
}
.JoinCard h3{
    padding-top: 20px;
}
#JoinStudyForm{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.InputLabel{
    margin-top: 10px;
    width: 100%;
}
.InputLabel label{
    display: inline-block;
    width: 180px;
    text-align: right;
}
.InputLabel input{
    margin-left: 10px;
    width: 200px;
}
.LoginCard{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #AAA;
    width: 48%;
}
.TextareaLabel{
    display: inline-block;
    width: 180px;
    text-align: right;
}
.TextareaLabel textarea{
    display: inline-block;
    width: 300px;
}
.LoginCard button, .JoinCard button{
    background-color: #61BCCE;
    color: #FFFFFF;
    height: 35px;
    font-size: 18px;
    width: 40%;
    margin: 10px auto;
    border: none;
}
.error{
    color: red;
}

@media screen and (max-width: 768px){
    .JoinCardContainer{
        display: block;
    }
    .JoinCard, .LoginCard{
        display: block;
        width: 98%;
    }
}