.JoinCardContainer{
    margin-top: 40px;
    display: flex;
}

.JoinCard{
    width: 48%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JoinCard h3{
    width: 250px;
    height: 80px;
    text-align: center;
}
.JoinCard + .JoinCard{
    border-left: 1px solid #AAA;
}
@media screen and (max-width: 768px) {
    .JoinCardContainer{
        display: block;
        width: 100%;
    }
    .JoinCard{
        width: 95%;
        margin: 0 auto;
        border-bottom: 1px solid #AAA;
    }
    .JoinCard + .JoinCard{
        border-left: none;
    }
}

/* .JoinCardContainer{
    display: flex;
}
.JoinCard, .LoginCard{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #AAA;
    margin-left: .5%;
    width: 49%;
}
.JoinCard, .LoginCard h3, p{
    text-align: center;
}
.JoinCard h3{
    padding-top: 20px;
}
#JoinStudyForm{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.LoginCard{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #AAA;
    width: 48%;
}
.TextareaLabel{
    display: inline-block;
    width: 180px;
    text-align: right;
}
.TextareaLabel textarea{
    display: inline-block;
    width: 300px;
}
.LoginCard button, .JoinCard button{
    background-color: #61BCCE;
    color: #FFFFFF;
    height: 35px;
    font-size: 18px;
    width: 40%;
    margin: 10px auto;
    border: none;
}
.error{
    color: red;
}

@media screen and (max-width: 768px){
    .JoinCardContainer{
        display: block;
    }
    .JoinCard, .LoginCard{
        display: block;
        width: 98%;
    }
} */